body {
  user-select: none;
  font-family: arial;
  margin: 8px;
  color: black;
  background-color: black;
  padding: 0;
}

input:focus, input:hover {
  border-color: #6c8f24;
}

button:hover {
  color: red;
}

.abc {
  margin:150px auto 0 auto;text-align:center;
}

.aaa {
  font-size: 40px;
  font-weight: bold;
  color: #6c8f24;
  text-align: center;
  margin-top: 20px;
}

.bbb {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 5px;
}

.ccc {
  border-radius: 5px 0 0 5px;
  margin: 0 auto;
  display: inline-block;
  padding: 7px 10px;
  max-width: 450px;
  border: 1px solid #ccc;
  outline: 0;
  width: 100%;
  font-size: 20px;
  scroll-behavior: smooth;
  scrollbar-color: #6c8f24;
  scrollbar-width: auto;
  transition-duration: 200ms;
  text-align: left;
  color: white;
  background-color: black;
}

.ddd {
  border-radius: 0 5px 5px 0;
  margin: 10px auto 0 -5px;
  padding: 8px 10px;
  display: inline-block;
  font-weight: bold;
  width: 100px;
  font-size: 20px;
  color: white;
  text-align: center;
  background-color: #6c8f24;
  cursor: pointer;
  border: 0;
  scroll-behavior: smooth;
  scrollbar-color: #6c8f24;
  scrollbar-width: auto;
  transition-duration: 100ms;
  text-align: center;
}

.aa {
  font-size: 16px;
  padding: 4px 8px;
  display: inline-block;
  margin: 0 3px;
  border-radius: 5px;
  font-weight: bold;
  background-color: #6c8f24;
  color: white;
  text-decoration: none;
}

.ab {
  float:right;
  margin-top:2px;
}

.ac {
  display: inline-block;
  text-align: left;
  font-size: 32px;
  font-weight: bold;
  margin-left: 5px;
  color: #6c8f24;
}

.ad {
  height: 2px;
  margin-top: 5px;
  background-color: #6c8f24;
}