:root {
  --cubeLunchLogo: url("/images/cubeLunchLogo.png");
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}

/* Body */
body {
  font-family: system-ui, sans-serif;

  background-color: black;
  color: white;
  place-items: center;
  display: grid;
  grid: "header" "main" "footer";
}

/* Header */
header {
  grid-area: header;
  width: 100vw;
}

.headerLogo {
  background-image: var(--cubeLunchLogo);
  height: 40px;
  width: 200px;
}

/* Main */
main {
  grid-area: main;
}

/* Footer */
footer {
  grid-area: footer;
  width: 100vw;
  margin-top: 48px;
}

.footerHr {
  background-color: #454585;
  height: 1px;
  clear: both;
}

.footerLogo {
  background-image: var(--cubeLunchLogo);
  float: right;
  height: 40px;
  width: 200px;
}

button {
  cursor: pointer;
  background-color: inherit;
  box-shadow: 10px 5px 8px #222;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body * {
  animation: fade-in 0.4s;
  transition: all 0.2s;
}

.btn {
  font-size: 20px;
  margin: 8px 16px;
  border: 2px solid gray;
  padding: 6px 12px;
  border-radius: 12px;
}

.form {
  background-color: #222;
  padding: 24px;
  border-radius: 12px;
}

.form * {
  background-color: inherit;
  display: flex;
  flex-direction: column;
}

.form input {
  font-size: 20px;
  margin: 8px 16px;
  border: 2px solid black;
  padding: 6px 12px;
  border-radius: 12px;
}

.form input:user-invalid {
  outline: 2px solid red;
}
.form input:user-valid {
  outline: 2px solid green;
}
